.form-container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-container .password-wrapper {
    position: relative;
}

.form-container .password-wrapper input {
    padding-right: 40px;
}

.form-container button {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #d32f2f;
}

.form-container .toggle-password-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: none;
}

.form-container .toggle-password-btn:hover {
    background: none;
}

.form-container .toggle-password-btn img {
    width: 20px;
    height: 20px;
}

.theme-toggle-btn {
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-toggle-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}